
@{
    ViewBag.Title = "City";
}

<div ng-app="myApp" ng-controller="cityController">
    <div class="row" ng-show="message">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-info"></i> Alert!</h4>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Form City</h3>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">City Code</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" id="cityCode" ng-model="m.kdkota">
                            </div>
                            <div class="col-md-6 radio">
                                <label>
                                    <input type="radio" name="optPengiriman" value="C" ng-model="m.kd_pengiriman"> Intra Kota
                                </label>
                                <label>
                                    <input type="radio" name="optPengiriman" value="D" ng-model="m.kd_pengiriman"> Domestic
                                </label>
                                <label>
                                    <input type="radio" name="optPengiriman" value="I" ng-model="m.kd_pengiriman"> International
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">City Name</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="cityName" ng-model="m.nm">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Status</label>
                            <div class="col-md-10">
                                <select class="form-control" id="ddlStatus" ng-model="m.statusx">
                                    <option ng-repeat="opt in ddlStatus" value="{{opt.value}}" ng-selected="m.statusx === opt.value">{{opt.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">City Allocation</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" id="cityAllocation" ng-model="m.alk_manifest">
                            </div>
                            <div class="col-md-6 checkbox">
                                <label>
                                    <input type="checkbox" id="keyPreview" ng-model="m.keyidx"> Key - Preview (Manifest)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Report Transaction View</label>
                            <div class="col-md-10 radio">
                                <label>
                                    <input type="radio" name="optReportTransactionView" value="Y" ng-model="m.ambilreport"> Check
                                </label>
                                <label>
                                    <input type="radio" name="optReportTransactionView" value="N" ng-model="m.ambilreport"> Uncheck
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="button" ng-click="addEditCity()"><i class="fa fa-save"></i> Save</button>
                        <button class="btn btn-default" type="button">Update Agent</button>
                        <button class="btn btn-default" type="button" ng-click="resetForm()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List City</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input class="form-control pull-right" type="text" id="" placeholder="Search" ng-model="tSearch">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>City Code</th>
                                <th>City Name</th>
                                <th>What this?</th>
                                <th>Status</th>
                                <th>Origin Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="city in listCity | filter: tSearch" ng-click="getCityByCityCode(city.kdkota)" pointer>
                                <td>{{city.kdkota}}</td>
                                <td>{{city.nm}}</td>
                                <td>{{city.kd_pengiriman === "C" ? "Intra kota" : city.kd_pengiriman === "D" ? "Domestic" : "International"}}</td>
                                <td><span class="label label-default">{{city.statusx === "Y" ? "Activate" : "Deactivate"}}</span></td>
                                <td>{{city.alk_manifest}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/angular-ui")
    <script src="@Url.Content("~/Scripts/site.js")"></script>
    <script src="@Url.Content("~/Scripts/EExpress/app.js")"></script>
    <script src="@Url.Content("~/Scripts/EExpress/services/cityService.js")"></script>
    <script src="@Url.Content("~/Scripts/EExpress/controllers/cityController.js")"></script>
}
